force-app/main/default/flows/Account_auto_populate_from_membership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Condition</name>
        <label>Check Condition</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Programs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramType.topValue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TheSchwartzRounds</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Programs</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CEU</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CEU_Credits_Offered__c</picklistField>
        <picklistObject>Program__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CMU</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CME_Credits_Offered__c</picklistField>
        <picklistObject>Program__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Rounds</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rounds_Held_in_Cancer_Center__c</picklistField>
        <picklistObject>Program__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UBSR</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UBSR_Unit_s__c</picklistField>
        <picklistObject>Program__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Account auto populate from membership {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Account auto populate from membership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Programs</name>
        <label>Copy 1 of Create Programs</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Display_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alias_Rounds__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEU_Credits_Offered__c</field>
            <value>
                <elementReference>CEU_Credits_Offered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CME_Credits_Offered__c</field>
            <value>
                <elementReference>CME_Credits_Offered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exemplary_Rounds_Program__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Rounds_Session__c</field>
            <value>
                <elementReference>First_Rounds_Sessions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Evaluation__c</field>
            <value>
                <elementReference>Last_Evaluation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiple_Locations_UTR__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Unit__c</field>
            <value>
                <elementReference>Other_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Type__c</field>
            <value>
                <elementReference>ProgramType.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>ProgramType.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rounds_Archive_Complete__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rounds_Held_in_Cancer_Center__c</field>
            <value>
                <elementReference>Rounds_Held_in_Cancer_Center</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rounds_Sessions_Per_Year__c</field>
            <value>
                <elementReference>Rounds_Sessions_Per_Year1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schwartz_Rounds_Info__c</field>
            <value>
                <elementReference>Schwartz_Rounds_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UBSR_Pilot_Site__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UBSR_Unit_s__c</field>
            <value>
                <elementReference>UBSR_Unit_s</elementReference>
            </value>
        </inputAssignments>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Programs</name>
        <label>Create Programs</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Display_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alias_Rounds__c</field>
            <value>
                <elementReference>Alias_Rounds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEU_Credits_Offered__c</field>
            <value>
                <elementReference>CEU_Credits_Offered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CME_Credits_Offered__c</field>
            <value>
                <elementReference>CME_Credits_Offered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exemplary_Rounds_Program__c</field>
            <value>
                <elementReference>Exemplary_Rounds_Program</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Rounds_Session__c</field>
            <value>
                <elementReference>First_Rounds_Sessions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Evaluation__c</field>
            <value>
                <elementReference>Last_Evaluation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiple_Locations_UTR__c</field>
            <value>
                <elementReference>Multiple_Locations_UTR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Unit__c</field>
            <value>
                <elementReference>Other_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Type__c</field>
            <value>
                <elementReference>ProgramType.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>ProgramType.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rounds_Archive_Complete__c</field>
            <value>
                <elementReference>Rounds_Archive_Complete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rounds_Held_in_Cancer_Center__c</field>
            <value>
                <elementReference>Rounds_Held_in_Cancer_Center</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rounds_Sessions_Per_Year__c</field>
            <value>
                <elementReference>Rounds_Sessions_Per_Year1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schwartz_Rounds_Info__c</field>
            <value>
                <elementReference>Schwartz_Rounds_Info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UBSR_Pilot_Site__c</field>
            <value>
                <elementReference>UBSR_Pilot_Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UBSR_Unit_s__c</field>
            <value>
                <elementReference>UBSR_Unit_s</elementReference>
            </value>
        </inputAssignments>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Message</name>
        <label>Display Message</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(73, 244, 43);&quot;&gt;Successfully Created Program Record!!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Program</name>
        <label>Program</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Condition</targetReference>
        </connector>
        <fields>
            <name>NewProgram</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;New Program&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Program_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Program_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Program__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Account__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ProgramType</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Program__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Program_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Role__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Program Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Role</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>First_Rounds_Sessions</name>
                    <dataType>Date</dataType>
                    <fieldText>First Rounds Sessions</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;If exact date is unknown, 1/1/1900 may be used as a placeholder to filter this account out of active reporting.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Last_Evaluation</name>
                    <dataType>Date</dataType>
                    <fieldText>Last Evaluation</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Data from Neon; this is a static field and will be deleted once all Rounds evaluations have been moved to Rounds Sessions. &quot;Last Rounds Session&quot; is more accurate unless it is blank.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Exemplary_Rounds_Program</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Exemplary Rounds Program</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Check this box to indicate that a member has an exemplary Rounds program and might be a good choice for visitors or new members to observe.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Alias_Rounds</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Alias Rounds</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;If checked, this organization is not an active member, but is holding Schwartz Rounds and calling them something else. If you check this box, please add an Alias Rounds note with details.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Multiple_Locations_UTR</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Multiple Locations (UTR)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Not a Rotating or MultiSite Member, but conducts Rounds at more than one location (UTR=under the radar).&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Rounds_Archive_Complete</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Rounds Archive Complete</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Program_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Membership</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Membership__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Membership</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Program__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Rounds_Sessions_Per_Year1</name>
                    <dataType>String</dataType>
                    <fieldText>Rounds Sessions Per Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;The number of Rounds sessions a member plans to hold each year. The Schwartz Center generally requires a minimum of six, but makes exceptions for some members.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Rounds_Held_in_Cancer_Center</name>
                    <choiceReferences>Rounds</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rounds Held in Cancer Center</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CEU_Credits_Offered</name>
                    <choiceReferences>CEU</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>CEU Credits Offered</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CME_Credits_Offered</name>
                    <choiceReferences>CMU</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>CME Credits Offered</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Schwartz_Rounds_Info</name>
                    <dataType>String</dataType>
                    <fieldText>Schwartz Rounds Info</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Link to the page on the member&apos;s website that has information about Schwartz Rounds.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>UBSR_Pilot_Site</name>
                    <dataType>Boolean</dataType>
                    <fieldText>UBSR Pilot Site</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>UBSR_Unit_s</name>
                    <choiceReferences>UBSR</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>UBSR Unit(s)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Unit</name>
                    <dataType>String</dataType>
                    <fieldText>Other Unit:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgramType.topValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>The Schwartz Rounds</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership__c</objectType>
    </variables>
    <variables>
        <name>TheSchwartzRounds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>The Schwartz Rounds</stringValue>
        </value>
    </variables>
</Flow>
