force-app/main/default/flows/Account_set_grandparent_and_great_grandparent_IDs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>If_Grandparent_exists</name>
        <label>If Grandparent exists</label>
        <locationX>428</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Set_Grandparent_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Grandparent_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_record.Parent.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Grandparent</targetReference>
            </connector>
            <label>Grandparent Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Great_grandparent_exists</name>
        <label>IF Great grandparent exists</label>
        <locationX>750</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_greatgrandparent_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greatgrandparent_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_grandparent_record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_great_grandparent</targetReference>
            </connector>
            <label>Greatgrandparent exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Parent_Exists</name>
        <label>If Parent Exists</label>
        <locationX>428</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Set_Grandparent_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_record.ParentId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Grandparent_exists</targetReference>
            </connector>
            <label>Parent Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Account - set grandparent and great grandparent IDs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - set grandparent and great grandparent IDs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_record</name>
        <label>Get Account record</label>
        <locationX>200</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Parent_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_grandparent_record</name>
        <label>Get grandparent record</label>
        <locationX>416</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_Great_grandparent_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_record.Parent.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Grandparent</name>
        <label>Set Grandparent</label>
        <locationX>267</locationX>
        <locationY>348</locationY>
        <connector>
            <targetReference>Get_grandparent_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Grandparent_Account__c</field>
            <value>
                <elementReference>Get_Account_record.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Grandparent_null</name>
        <label>Set Grandparent null</label>
        <locationX>683</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>Set_greatgrandparent_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Grandparent_Account__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_great_grandparent</name>
        <label>Set great grandparent</label>
        <locationX>907</locationX>
        <locationY>385</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Great_Grand_Parent_Account__c</field>
            <value>
                <elementReference>Get_grandparent_record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_greatgrandparent_null</name>
        <label>Set greatgrandparent null</label>
        <locationX>747</locationX>
        <locationY>226</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Great_Grand_Parent_Account__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>52</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Get_Account_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
