force-app/main/default/flows/Archive_Member_Pipeline_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>First_MP_Record</name>
        <label>First MP Record?</label>
        <locationX>173</locationX>
        <locationY>271</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MP_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMPId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MP_Record</targetReference>
            </connector>
            <label>MP Record Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Archive Member Pipeline Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Archive Member Pipeline Record</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_unarchived_MP_record</name>
        <label>Lookup unarchived MP record</label>
        <locationX>110</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_MP_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Archived_SYSTEM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Member_Pipeline__c</object>
        <outputAssignments>
            <assignToReference>varMPId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_MP_Record</name>
        <label>Update MP Record</label>
        <locationX>244</locationX>
        <locationY>417</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMPId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Archived_SYSTEM__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Member_Pipeline__c</object>
    </recordUpdates>
    <startElementReference>Lookup_unarchived_MP_record</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMPId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
