force-app/main/default/flows/Copy_Account_and_Contact_names_on_Event_Back_To_SetupHelp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_for_Contact_Account_and_Event</name>
        <label>Check for Contact,Account and Event</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_and_Contact_notNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0013600001GOPMBAA5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0013600001J8mIFAAZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attendee_Record</targetReference>
            </connector>
            <label>Account and Contact notNULL</label>
        </rules>
        <rules>
            <name>Account_isNull_Contact_notNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Flow</targetReference>
            </connector>
            <label>Account isNull Contact notNull</label>
        </rules>
        <rules>
            <name>Attendee_Name_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Attendee_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Flow2</targetReference>
            </connector>
            <label>Attendee Name &lt;&gt; NULL</label>
        </rules>
        <rules>
            <name>Account_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0013600001J8mIFAAZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0013600001GOPMBAA5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Name</targetReference>
            </connector>
            <label>Account &lt;&gt; NULL</label>
        </rules>
    </decisions>
    <description>Copies the name of the contact and account to text fields, when populated</description>
    <environments>Default</environments>
    <formulas>
        <name>Raiseedgeid</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Raiser_s_Edge_ID__c}), &quot;NO RE ID&quot;, {!$Record.Raiser_s_Edge_ID__c})</expression>
    </formulas>
    <formulas>
        <name>text</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Name}</expression>
    </formulas>
    <interviewLabel>Copy Account and Contact names on Event Back To SetupHelp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Account and Contact names on Event Back To SetupHelp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Name</name>
        <label>Update Account Name</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>text</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Attendee_Record</name>
        <label>Update Attendee Record</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_First_Name__c</field>
            <value>
                <elementReference>$Record.Contact__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_Last_Name__c</field>
            <value>
                <elementReference>$Record.Contact__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_Suffix__c</field>
            <value>
                <elementReference>$Record.Contact__r.Suffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_Title__c</field>
            <value>
                <elementReference>$Record.Contact__r.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_System__c</field>
            <value>
                <elementReference>$Record.Account__r.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Name</name>
        <label>Update Contact Name</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Attendee_First_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Attendee_Last_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Attendee_First_Name__c</field>
            <value>
                <elementReference>$Record.Contact__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_Last_Name__c</field>
            <value>
                <elementReference>$Record.Contact__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_Suffix__c</field>
            <value>
                <elementReference>$Record.Contact__r.Suffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_Title__c</field>
            <value>
                <elementReference>$Record.Contact__r.Title</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Contact_Account_and_Event</targetReference>
        </connector>
        <object>Event_Attendee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Launch_Flow</name>
        <label>Launch Flow</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Contact_Name</targetReference>
        </connector>
        <flowName>Find_Contact_as_Event_Attendee</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountName</name>
            <value>
                <elementReference>$Record.Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactID</name>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEventAttendeeID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Launch_Flow2</name>
        <label>Launch Flow</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <flowName>Find_Contact_as_Event_Attendee</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountName</name>
        </inputAssignments>
        <inputAssignments>
            <name>varAttendeeEmail</name>
            <value>
                <elementReference>$Record.Attendee_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttendeeFirstName</name>
            <value>
                <elementReference>$Record.Attendee_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttendeeLastName</name>
            <value>
                <elementReference>$Record.Attendee_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttendeeSuffix</name>
            <value>
                <elementReference>$Record.Attendee_Suffix__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttendeeTitle</name>
            <value>
                <elementReference>$Record.Attendee_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEventAttendeeID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRaisersEdgeID</name>
            <value>
                <elementReference>Raiseedgeid</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
