force-app/main/default/flows/Copy_Membership_Information_to_Account_on_Edit1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Member_status_value</name>
        <label>Check Member status value</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_isChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Status isChanged</label>
        </rules>
        <rules>
            <name>Date_isChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Payment_Received_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Membership_Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Membership_End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Original_Agreement_was_Sent_Out__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Due_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account2</targetReference>
            </connector>
            <label>Date isChanged</label>
        </rules>
    </decisions>
    <description>Copies information from the &apos;Membership&apos; record to fields on the Account</description>
    <environments>Default</environments>
    <interviewLabel>Copy Membership Information to Account on Edit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Membership Information to Account on Edit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Original_Agreement_was_Sent_Out__c</field>
            <value>
                <elementReference>$Record.Date_Original_Agreement_was_Sent_Out__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Status__c</field>
            <value>
                <elementReference>$Record.Member_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_End_Date__c</field>
            <value>
                <elementReference>$Record.Membership_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>$Record.Membership_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Due_Days__c</field>
            <value>
                <elementReference>$Record.Payment_Due_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Received_Date__c</field>
            <value>
                <elementReference>$Record.Last_Payment_Received_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_Agreement_Received_Date__c</field>
            <value>
                <elementReference>$Record.Agreement_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account2</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Original_Agreement_was_Sent_Out__c</field>
            <value>
                <elementReference>$Record.Date_Original_Agreement_was_Sent_Out__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_End_Date__c</field>
            <value>
                <elementReference>$Record.Membership_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>$Record.Membership_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Due_Days__c</field>
            <value>
                <elementReference>$Record.Payment_Due_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Received_Date__c</field>
            <value>
                <elementReference>$Record.Last_Payment_Received_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_Agreement_Received_Date__c</field>
            <value>
                <elementReference>$Record.Agreement_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Member_status_value</targetReference>
        </connector>
        <object>Membership__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
