force-app/main/default/flows/EmailSent_set_task_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>SetStatus</name>
        <label>SetStatus</label>
        <locationX>812</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>ThisTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Response Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetTaskStatus</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Timeminusoneminute</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.InterviewStartTime} - 0.04</expression>
    </formulas>
    <interviewLabel>EmailSent - set task status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailSent - set task status</label>
    <loops>
        <name>Loop_thru_tasks</name>
        <label>Loop thru tasks</label>
        <locationX>653</locationX>
        <locationY>40</locationY>
        <assignNextValueToReference>ThisTask</assignNextValueToReference>
        <collectionReference>GetTask</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetStatus</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Use the Message ID, ToAddress and record type (contact) to get the contact ID.</description>
        <name>GetMessageRelation</name>
        <label>GetMessageRelation</label>
        <locationX>338</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmailMessageId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vEmailMessageID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationObjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ToAddress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessageRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Identify the task from the subject and the contact ID</description>
        <name>GetTask</name>
        <label>GetTask</label>
        <locationX>533</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Inquiry Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMessageRelation.RelationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SetTaskStatus</name>
        <label>SetTaskStatus</label>
        <locationX>725</locationX>
        <locationY>246</locationY>
        <connector>
            <targetReference>Loop_thru_tasks</targetReference>
        </connector>
        <inputReference>ThisTask</inputReference>
    </recordUpdates>
    <start>
        <locationX>58</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>GetMessageRelation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ThisTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>vEmailMessageID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
