force-app/main/default/flows/Find_Contact_as_Caregiver_Recognition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Contact_has_Rasiers_Edge_ID</name>
        <label>Contact has Rasiers Edge ID?</label>
        <locationX>28</locationX>
        <locationY>30</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RE_ID_notNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRaisersEdgeID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NO RE ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_on_RE_ID</targetReference>
            </connector>
            <label>RE ID notNULL</label>
        </rules>
        <rules>
            <name>RE_ID_isNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRaisersEdgeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO RE ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_on_Full_Name</targetReference>
            </connector>
            <label>RE ID isNULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_contact_by_first_last_exist</name>
        <label>Does contact by first last exist?</label>
        <locationX>582</locationX>
        <locationY>427</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ContactId_NOT_NULL2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Caregiver_Recognition</targetReference>
            </connector>
            <label>ContactId&lt;&gt;NULL</label>
        </rules>
        <rules>
            <name>Contact_ID_isNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_with_Account</targetReference>
            </connector>
            <label>Contact ID isNULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_by_name_exist</name>
        <label>Does Contact, by name exist?</label>
        <locationX>469</locationX>
        <locationY>263</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ContactID_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Caregiver_Recognition</targetReference>
            </connector>
            <label>ContactID&lt;&gt;NULL</label>
        </rules>
        <rules>
            <name>ContactID_isNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_on_First_Last</targetReference>
            </connector>
            <label>ContactID=NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Exist_with_RE_ID</name>
        <label>Does Contact Exist with RE ID?</label>
        <locationX>620</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_ID_notNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Caregiver_Recognition</targetReference>
            </connector>
            <label>Contact ID notNULL</label>
        </rules>
        <rules>
            <name>ContactID_isNULL2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_on_Full_Name</targetReference>
            </connector>
            <label>ContactID isNULL</label>
        </rules>
    </decisions>
    <formulas>
        <name>fxFirstLast</name>
        <dataType>String</dataType>
        <expression>{!varHonoreeFirstName}&amp;&quot; &quot;&amp;{!varHonoreeLastName}</expression>
    </formulas>
    <formulas>
        <name>fxHonoreeName</name>
        <dataType>String</dataType>
        <expression>TRIM(
{!varHonoreeTitle}&amp;&quot; &quot;&amp;
{!varHonoreeFirstName}&amp;&quot; &quot;&amp;
{!varHonoreeLastName}&amp;&quot; &quot;&amp;
{!varHonoreeSuffix}
)</expression>
    </formulas>
    <formulas>
        <name>fxRaisersEdgeID</name>
        <dataType>String</dataType>
        <expression>IF(
{!varRaisersEdgeID} = &quot;NO RE ID&quot;,
&quot;&quot;,
{!varRaisersEdgeID}
)</expression>
    </formulas>
    <interviewLabel>Find Contact as Caregiver Recognition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Contact as Caregiver Recognition</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_with_Account</name>
        <label>Create Contact with Account</label>
        <locationX>341</locationX>
        <locationY>571</locationY>
        <assignRecordIdToReference>varNewContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Caregiver_Recognition2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Created_from_Caregiver_Recog__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varHonoreeFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varHonoreeLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raiser_s_Edge_ID__c</field>
            <value>
                <elementReference>fxRaisersEdgeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix</field>
            <value>
                <elementReference>varHonoreeSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>varHonoreeTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Contact_on_RE_ID</name>
        <label>Lookup Contact on RE ID</label>
        <locationX>487</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist_with_RE_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Raiser_s_Edge_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRaisersEdgeID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_on_First_Last</name>
        <label>Lookup on First Last</label>
        <locationX>288</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_contact_by_first_last_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fxFirstLast</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_on_Full_Name</name>
        <label>Lookup on Full Name</label>
        <locationX>213</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_by_name_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FullName_forLookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fxHonoreeName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Caregiver_Recognition</name>
        <label>Update Caregiver Recognition</label>
        <locationX>815</locationX>
        <locationY>304</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaregiverRecognitionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Existing_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Caregiver_Recognition__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Caregiver_Recognition2</name>
        <label>Update Caregiver Recognition2</label>
        <locationX>611</locationX>
        <locationY>611</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaregiverRecognitionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varNewContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Contact_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Caregiver_Recognition__c</object>
    </recordUpdates>
    <startElementReference>Contact_has_Rasiers_Edge_ID</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>AttendeeUploadStatus</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!varUser},

Follow this link to review the outcome of your upload:

https://schwartzcenter--idealist.cs26.my.salesforce.com/00O36000002DbyD

Please make any adjustments.

Thank you!</text>
    </textTemplates>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaregiverRecognitionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHealthSystem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHonoreeFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHonoreeLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHonoreeSuffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHonoreeTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRaisersEdgeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
