force-app/main/default/flows/Find_Contact_as_Event_Attendee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Account_Exists</name>
        <label>Account Exists</label>
        <locationX>234</locationX>
        <locationY>188</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_Does_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_on_Event_Attendee</targetReference>
            </connector>
            <label>Account Does Exist</label>
        </rules>
        <rules>
            <name>Account_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Event_Attendee_to_Unaffiliated</targetReference>
            </connector>
            <label>Account Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>AccountID_NULL</name>
        <label>AccountID &lt;&gt; NULL</label>
        <locationX>51</locationX>
        <locationY>15</locationY>
        <defaultConnector>
            <targetReference>Lookup_Account_by_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_ID_starts_with_001</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_on_Event_Attendee</targetReference>
            </connector>
            <label>Account ID starts with 001</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_has_Rasiers_Edge_ID</name>
        <label>Contact has Rasiers Edge ID?</label>
        <locationX>629</locationX>
        <locationY>23</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RE_ID_notNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRaisersEdgeID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NO RE ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_on_RE_ID</targetReference>
            </connector>
            <label>RE ID notNULL</label>
        </rules>
        <rules>
            <name>RE_ID_isNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRaisersEdgeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO RE ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_NULL</targetReference>
            </connector>
            <label>RE ID isNULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_by_name_exist</name>
        <label>Does Contact, by name exist?</label>
        <locationX>745</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ContactID_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Event_Attendee</targetReference>
            </connector>
            <label>ContactID&lt;&gt;NULL</label>
        </rules>
        <rules>
            <name>ContactID_isNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Account</targetReference>
            </connector>
            <label>ContactID=NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist?</label>
        <locationX>792</locationX>
        <locationY>365</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_ID_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_on_Full_Name</targetReference>
            </connector>
            <label>Contact ID = NULL</label>
        </rules>
        <rules>
            <name>Contact_ID_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Event_Attendee</targetReference>
            </connector>
            <label>Contact ID &lt;&gt; NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Exist_with_RE_ID</name>
        <label>Does Contact Exist with RE ID?</label>
        <locationX>782</locationX>
        <locationY>130</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_ID_notNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Event_Attendee</targetReference>
            </connector>
            <label>Contact ID notNULL</label>
        </rules>
        <rules>
            <name>ContactID_isNULL2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_NULL</targetReference>
            </connector>
            <label>ContactID isNULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_NULL</name>
        <label>Email NULL?</label>
        <locationX>497</locationX>
        <locationY>280</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_notNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAttendeeEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact</targetReference>
            </connector>
            <label>Email notNull</label>
        </rules>
        <rules>
            <name>Email_isNull</name>
            <conditionLogic>(not 1) and 2</conditionLogic>
            <conditions>
                <leftValueReference>varAttendeeEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_on_Full_Name</targetReference>
            </connector>
            <label>Email isNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Account</name>
        <label>Existing Account?</label>
        <locationX>257</locationX>
        <locationY>554</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_Does_Exist2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_with_Account</targetReference>
            </connector>
            <label>Account Does Exist</label>
        </rules>
        <rules>
            <name>Account_Does_Not_Exist2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Unaffiliated_Account</targetReference>
            </connector>
            <label>Account Does Not Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>fxAttendeeName</name>
        <dataType>String</dataType>
        <expression>TRIM(
{!varAttendeeTitle}&amp;&quot; &quot;&amp;
{!varAttendeeFirstName}&amp;&quot; &quot;&amp;
{!varAttendeeLastName}&amp;&quot; &quot;&amp;
{!varAttendeeSuffix}
)</expression>
    </formulas>
    <formulas>
        <name>fxFirstLast</name>
        <dataType>String</dataType>
        <expression>{!varAttendeeFirstName}&amp;&quot; &quot;&amp;{!varAttendeeLastName}</expression>
    </formulas>
    <formulas>
        <name>fxRaisersEdgeID</name>
        <dataType>String</dataType>
        <expression>IF(
{!varRaisersEdgeID} = &quot;NO RE ID&quot;,
&quot;&quot;,
{!varRaisersEdgeID}
)</expression>
    </formulas>
    <interviewLabel>Find Contact as Event Attendee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Contact as Event Attendee</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Unaffiliated_Account</name>
        <label>Create Contact - Unaffiliated Account</label>
        <locationX>485</locationX>
        <locationY>694</locationY>
        <assignRecordIdToReference>varNewContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Event_Attendee2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0013600001GOPMB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Created_from_Event_Attendee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>varAttendeeEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varAttendeeFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varAttendeeLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raiser_s_Edge_ID__c</field>
            <value>
                <elementReference>fxRaisersEdgeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix</field>
            <value>
                <elementReference>varAttendeeSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>varAttendeeTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_with_Account</name>
        <label>Create Contact with Account</label>
        <locationX>46</locationX>
        <locationY>684</locationY>
        <assignRecordIdToReference>varNewContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Event_Attendee2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Created_from_Event_Attendee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>varAttendeeEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varAttendeeFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varAttendeeLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raiser_s_Edge_ID__c</field>
            <value>
                <elementReference>fxRaisersEdgeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix</field>
            <value>
                <elementReference>varAttendeeSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>varAttendeeTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account_by_Name</name>
        <label>Lookup Account by Name</label>
        <locationX>47</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varHealthSystem</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact on Email</label>
        <locationX>779</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAttendeeEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_on_RE_ID</name>
        <label>Lookup Contact on RE ID</label>
        <locationX>881</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist_with_RE_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Raiser_s_Edge_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRaisersEdgeID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_on_Full_Name</name>
        <label>Lookup on Full Name</label>
        <locationX>553</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_by_name_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FullName_forLookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fxAttendeeName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_on_Event_Attendee</name>
        <label>Update Account on Event Attendee</label>
        <locationX>343</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>Contact_has_Rasiers_Edge_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEventAttendeeID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Found_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_System__c</field>
            <value>
                <elementReference>varHealthSystem</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Attendee__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event_Attendee</name>
        <label>Update Event Attendee</label>
        <locationX>1084</locationX>
        <locationY>399</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEventAttendeeID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Existing_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Event_Attendee__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event_Attendee2</name>
        <label>Update Event Attendee</label>
        <locationX>254</locationX>
        <locationY>693</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEventAttendeeID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varNewContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Contact_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Event_Attendee__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event_Attendee_to_Unaffiliated</name>
        <label>Update Event Attendee to Unaffiliated</label>
        <locationX>463</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>Contact_has_Rasiers_Edge_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEventAttendeeID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <stringValue>0013600001GOPMB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Found_Account__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Event_Attendee__c</object>
    </recordUpdates>
    <startElementReference>AccountID_NULL</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>AttendeeUploadStatus</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!varUser},

Follow this link to review the outcome of your upload:

https://schwartzcenter--idealist.cs26.my.salesforce.com/00O36000002DbyD

Please make any adjustments.

Thank you!</text>
    </textTemplates>
    <variables>
        <name>hasCompanyName</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAttendeeEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAttendeeFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAttendeeLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAttendeeSuffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAttendeeTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEventAttendeeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHealthSystem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRaisersEdgeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
