force-app/main/default/flows/LatestConsultationVisit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddOneOtherCVtoCollection</name>
        <label>AddOneOtherCVtoCollection</label>
        <locationX>444</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>OtherCVstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneOtherCV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOtherCVs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCV</name>
        <label>UpdateCV</label>
        <locationX>55</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>LatestCV.isLatestCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LookupAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOneOtherCV</name>
        <label>UpdateOneOtherCV</label>
        <locationX>452</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>OneOtherCV.isLatestCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddOneOtherCVtoCollection</targetReference>
        </connector>
    </assignments>
    <description>Updates the isLatestVisit checkbox for most recent CV</description>
    <interviewLabel>LatestConsultationVisit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LatestConsultationVisit</label>
    <loops>
        <name>LoopOtherCVs</name>
        <label>LoopOtherCVs</label>
        <locationX>243</locationX>
        <locationY>365</locationY>
        <assignNextValueToReference>OneOtherCV</assignNextValueToReference>
        <collectionReference>OtherCVs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateOneOtherCV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOtherCVs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Consultation_Visits</name>
        <label>Lookup Consultation Visits</label>
        <locationX>51</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCVID</elementReference>
            </value>
        </filters>
        <object>Consultation_Visit__c</object>
        <outputReference>LatestCV</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>isLatestCV__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupAccount</name>
        <label>LookupAccount</label>
        <locationX>241</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupOtherCVs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LatestCV.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>CVAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupOtherCVs</name>
        <label>LookupOtherCVs</label>
        <locationX>241</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOtherCVs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CVAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>LatestCV.Id</elementReference>
            </value>
        </filters>
        <object>Consultation_Visit__c</object>
        <outputReference>OtherCVs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>isLatestCV__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLatestCase</name>
        <label>UpdateLatestCase</label>
        <locationX>244</locationX>
        <locationY>633</locationY>
        <inputReference>LatestCV</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOtherCVs</name>
        <label>UpdateOtherCVs</label>
        <locationX>247</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>UpdateLatestCase</targetReference>
        </connector>
        <inputReference>OtherCVstoUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Consultation_Visits</startElementReference>
    <status>Active</status>
    <variables>
        <name>ConsultationVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Consultation_Visit__c</objectType>
    </variables>
    <variables>
        <name>ConsultationVisits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Consultation_Visit__c</objectType>
    </variables>
    <variables>
        <name>CVAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LatestCV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Consultation_Visit__c</objectType>
    </variables>
    <variables>
        <name>OneOtherCV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Consultation_Visit__c</objectType>
    </variables>
    <variables>
        <name>OtherCVs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Consultation_Visit__c</objectType>
    </variables>
    <variables>
        <name>OtherCVstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Consultation_Visit__c</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCVID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
