force-app/main/default/flows/Membership_Date_Override.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Membership Date Override {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership Date Override</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Membership_Record</name>
        <label>Lookup Membership Record</label>
        <locationX>60</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Override_Renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <object>Membership__c</object>
        <outputAssignments>
            <assignToReference>varOverriddenStartDate</assignToReference>
            <field>Overridden_Membership_Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOverriddenRenewalDate</assignToReference>
            <field>Overridden_Renewal_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Membership</name>
        <label>Update Membership</label>
        <locationX>267</locationX>
        <locationY>170</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overridden_Membership_Start_Date__c</field>
            <value>
                <elementReference>Membership_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overridden_Renewal_Date__c</field>
            <value>
                <elementReference>Renewal_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
    </recordUpdates>
    <screens>
        <name>Override_Renewal</name>
        <label>Override Renewal</label>
        <locationX>273</locationX>
        <locationY>30</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Membership</targetReference>
        </connector>
        <fields>
            <name>RenewalDateNote</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If overriding, enter the date of the &lt;B&gt;NEXT&lt;/B&gt; renewal&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Renewal_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varOverriddenRenewalDate</elementReference>
            </defaultValue>
            <fieldText>Renewal Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartDateNote</name>
            <fieldText>If overriding, enter the date that the membership begins</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Membership_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varOverriddenStartDate</elementReference>
            </defaultValue>
            <fieldText>Membership Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Membership_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>varID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOverriddenRenewalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOverriddenStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRenewalOverridden</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStartDateOverridden</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
