force-app/main/default/flows/New_task_is_Created_on_Lead_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Additional_Comments__c</name>
            <value>
                <elementReference>$Record.Additional_Comments__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Current_Schwartz_Center_members__c</name>
            <value>
                <elementReference>$Record.Current_Schwartz_Center_members__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>How_did_you_hear_about_Schwartz_Center__c</name>
            <value>
                <elementReference>$Record.How_did_you_hear_about_Schwartz_Center__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Inquiring_about_Membership__c</name>
            <value>
                <elementReference>$Record.Inquiring_about_Membership__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Please_list_them_here__c</name>
            <value>
                <elementReference>$Record.Please_list_them_here__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Pleaseprovideadditionaldetails__c</name>
            <value>
                <elementReference>$Record.Please_provide_additional_details__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Sites_in_your_System_Membership__c</name>
            <value>
                <elementReference>$Record.Sites_in_your_System_Membership__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>PL-Inquiry Received</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>This_site_is__c</name>
            <value>
                <elementReference>$Record.This_site_is__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Conditions</name>
        <label>Check Conditions</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>New_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_hospital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospital</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Organization_subtype_for_hospital</targetReference>
            </connector>
            <label>Check for hospital</label>
        </rules>
        <rules>
            <name>Check_for_Long_term_Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Long-Term Care Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Organization_subtype_for_Long_Term_facility</targetReference>
            </connector>
            <label>Check for Long term Facility</label>
        </rules>
        <rules>
            <name>Check_for_out_patient_facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outpatient Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Organization_subtype_for_Out_patient_facility</targetReference>
            </connector>
            <label>Check for out patient facility</label>
        </rules>
        <rules>
            <name>Check_for_other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Organization_subtype_for_other</targetReference>
            </connector>
            <label>Check for other</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>New task is Created on Lead Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Organization subtype and New task is Created on Lead Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Organization_subtype_for_hospital</name>
        <label>Update Organization subtype for hospital</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Organization_Subtype__c</field>
            <value>
                <elementReference>$Record.Hospital_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Organization_subtype_for_Long_Term_facility</name>
        <label>Update Organization subtype for Long Term facility</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Organization_Subtype__c</field>
            <value>
                <elementReference>$Record.Long_Term_Care_Facility_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Organization_subtype_for_other</name>
        <label>Update Organization subtype for other</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Organization_Subtype__c</field>
            <value>
                <elementReference>$Record.Other_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Organization_subtype_for_Out_patient_facility</name>
        <label>Update Organization subtype for Out patient facility</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Organization_Subtype__c</field>
            <value>
                <elementReference>$Record.Outpatient_Facility_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Conditions</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
