force-app/main/default/flows/Update_Completed_and_Open_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>712</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>colUpdateClosedTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOvarCompletedTasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Completed_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Open_Collection</name>
        <label>Add to Open Collection</label>
        <locationX>1429</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>colUpdateOpenTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOvarOpenTasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter</name>
        <label>Counter</label>
        <locationX>621</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>varClosedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Most_Recent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter2</name>
        <label>Counter</label>
        <locationX>1331</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>varOpenCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_in_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Last_Activity_isFALSE</name>
        <label>Last Activity isFALSE</label>
        <locationX>622</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>SOvarCompletedTasks.Last_Completed_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOvarCompletedTasks.Next_Activity_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Last_Activity_isTRUE</name>
        <label>Last Activity isTRUE</label>
        <locationX>810</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>SOvarCompletedTasks.Last_Completed_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOvarCompletedTasks.Next_Activity_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Next_Activity_Due</name>
        <label>Next Activity Due</label>
        <locationX>1560</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>SOvarOpenTasks.Next_Activity_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOvarOpenTasks.Last_Completed_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Open_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Next_Due</name>
        <label>Not Next Due</label>
        <locationX>1361</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>SOvarOpenTasks.Next_Activity_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOvarOpenTasks.Last_Completed_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Open_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Most_Recent</name>
        <label>Most Recent</label>
        <locationX>617</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isMost_Recent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varClosedCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Activity_isTRUE</targetReference>
            </connector>
            <label>isMost Recent</label>
        </rules>
        <rules>
            <name>notMost_Recent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varClosedCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Activity_isFALSE</targetReference>
            </connector>
            <label>notMost Recent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_in_Line</name>
        <label>Next in Line</label>
        <locationX>1336</locationX>
        <locationY>387</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>is_Next_Due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpenCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Activity_Due</targetReference>
            </connector>
            <label>is Next Due</label>
        </rules>
        <rules>
            <name>isNot_Next_Due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpenCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Next_Due</targetReference>
            </connector>
            <label>isNot Next Due</label>
        </rules>
    </decisions>
    <description>V2</description>
    <environments>Default</environments>
    <interviewLabel>Update Completed and Open Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Completed and Open Tasks</label>
    <loops>
        <name>Loop_Completed_Tasks</name>
        <label>Loop Completed Tasks</label>
        <locationX>392</locationX>
        <locationY>425</locationY>
        <assignNextValueToReference>SOvarCompletedTasks</assignNextValueToReference>
        <collectionReference>colCompletedTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Open_Tasks</name>
        <label>Loop Open Tasks</label>
        <locationX>1135</locationX>
        <locationY>452</locationY>
        <assignNextValueToReference>SOvarOpenTasks</assignNextValueToReference>
        <collectionReference>colOpenTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counter2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Open_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Completed_Tasks</name>
        <label>Lookup Completed Tasks</label>
        <locationX>390</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Completed_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SOvarCompletedTasks.Lead__r.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>colCompletedTasks</outputReference>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>Id</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Open_Tasks</name>
        <label>Lookup Open Tasks</label>
        <locationX>1136</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Open_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>colOpenTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Completed</name>
        <label>Update All Completed</label>
        <locationX>389</locationX>
        <locationY>641</locationY>
        <connector>
            <targetReference>Lookup_Open_Tasks</targetReference>
        </connector>
        <inputReference>colUpdateClosedTasks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_Open_Tasks</name>
        <label>Update All Open Tasks</label>
        <locationX>1137</locationX>
        <locationY>660</locationY>
        <inputReference>colUpdateOpenTasks</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Completed_Tasks</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>colCompletedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>colOpenTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>colUpdateClosedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>colUpdateOpenTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SOvarCompletedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SOvarOpenTasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varClosedCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varMostRecent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpenCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
