force-app/main/default/flows/UpdateCurrentRoles_to_Former.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>colFormerRoles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOvarRoles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Current_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Status</name>
        <label>Change Status</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>SOvarRoles.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Former</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Current_Roles</name>
        <label>Has Current Roles</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Roles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colCurrentRoles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Current_Roles</targetReference>
            </connector>
            <label>Has Roles</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateCurrentRoles to Former {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateCurrentRoles to Former</label>
    <loops>
        <name>Loop_Current_Roles</name>
        <label>Loop Current Roles</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>SOvarRoles</assignNextValueToReference>
        <collectionReference>colCurrentRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Current_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Current_Roles</name>
        <label>Lookup Current Roles</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Current_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <object>Current_Roles__c</object>
        <outputReference>colCurrentRoles</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Roles</name>
        <label>Update Current Roles</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <inputReference>colFormerRoles</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Current_Roles</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colCurrentRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Current_Roles__c</objectType>
    </variables>
    <variables>
        <name>colFormerRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Current_Roles__c</objectType>
    </variables>
    <variables>
        <name>SOvarRoles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Current_Roles__c</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
