force-app/main/default/flows/Update_Agreement_Mod_after_Expiration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Agreement_Mod_Empty</name>
        <label>Agreement Mod Empty?</label>
        <locationX>129</locationX>
        <locationY>88</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Agreement_Mod_Empty1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxAgreementMonLEN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Membership</targetReference>
            </connector>
            <label>Agreement Mod Empty</label>
        </rules>
        <rules>
            <name>Agreement_Mod_NOT_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxAgreementMonLEN</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Membership_Multi_Value</targetReference>
            </connector>
            <label>Agreement Mod NOT Empty</label>
        </rules>
    </decisions>
    <formulas>
        <name>fxAgreementModNew</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
{!varAgreementMod},
&quot;Multi-Year Pricing&quot;,
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>fxAgreementMonLEN</name>
        <dataType>Number</dataType>
        <expression>len({!fxAgreementModNew})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Agreement Mod after Expiration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Agreement Mod after Expiration</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Membership</name>
        <label>Update Membership</label>
        <locationX>215</locationX>
        <locationY>314</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement_Modification__c</field>
            <value>
                <elementReference>fxAgreementModNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modification_Details__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Membership_Multi_Value</name>
        <label>Update Membership - Multi Value</label>
        <locationX>556</locationX>
        <locationY>103</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement_Modification__c</field>
            <value>
                <elementReference>fxAgreementModNew</elementReference>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
    </recordUpdates>
    <startElementReference>Agreement_Mod_Empty</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAgreementMod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
