force-app/main/default/flows/Update_Member_Pipeline_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>MPID_NULL</name>
        <label>MPID &lt;&gt; NULL</label>
        <locationX>348</locationX>
        <locationY>87</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MP_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMPID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MP_Record</targetReference>
            </connector>
            <label>MP Record Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Update Member Pipeline Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Member Pipeline Record</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_MP_Record</name>
        <label>Lookup MP Record</label>
        <locationX>131</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MPID_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Archived_SYSTEM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Member_Pipeline__c</object>
        <outputAssignments>
            <assignToReference>varMPID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_MP_Record</name>
        <label>Update MP Record</label>
        <locationX>353</locationX>
        <locationY>255</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMPID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Agreement_was_Sent_Out__c</field>
            <value>
                <elementReference>varDateAgreemenSentOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Invoice_Sent__c</field>
            <value>
                <elementReference>varDateInvoiceSent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Put_On_Hold__c</field>
            <value>
                <elementReference>varOnHoldDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Withdrawn__c</field>
            <value>
                <elementReference>varWithdrawnDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Followup_Assigned_to__c</field>
            <value>
                <elementReference>varAssignedUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Followup_Date__c</field>
            <value>
                <elementReference>varFollowupDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Details__c</field>
            <value>
                <elementReference>varInvoiceDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>varMemberStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>varInquiryNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect_Notes__c</field>
            <value>
                <elementReference>varProspectNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Stopping__c</field>
            <value>
                <elementReference>varStopReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Withdrawal__c</field>
            <value>
                <elementReference>varWithdrawalReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rounds_Start_Date__c</field>
            <value>
                <elementReference>varRoundsStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_Agreement_Received_Date__c</field>
            <value>
                <elementReference>varSignedAgreementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stopped_Date__c</field>
            <value>
                <elementReference>varStoppedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Member_Pipeline__c</object>
    </recordUpdates>
    <startElementReference>Lookup_MP_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssignedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDateAgreemenSentOut</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDateInvoiceSent</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFollowupDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInquiryNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInvoiceDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMemberStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOnHoldDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProspectNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRoundsStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSignedAgreementDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStoppedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStopReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWithdrawalReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWithdrawnDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
